openai
python-osc
pyaudio
pyttsx3
sounddevice
soundfile
pydub
whisper
flake8
edge-tts
numpy>=2.0.0,<2.2.0
torch
webrtcvad
psutil
GPUtil
customtkinter
requests
pillow
pywin32
numba
vrchatapi
python-dotenv
